html {
  background-color: #ffffff;  
}
h1, p {
  margin-top:25px;
  color:#3399ff;
  margin-left:250px;
}
nav {
  background-color: #3399ff;
  margin:0;
  overflow:hidden;
}
nav ul{
  margin:0;
  padding:0;
}
nav ul li{
  display:inline-block;
  list-style-type:none;
}
nav > ul > li > a{
  color: #ffffff;
  background-color:#3399ff;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}
ul li a:hover{
  background-color:black;
}
}
