html {
  background-color: #ffffff;  
}
h1, p {
  margin-top:25px;
  color:#3399ff;
  margin-left:250px;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;
    background-color: #3399ff;
}
