body {
    margin: 0;
    padding: 0;
    background: lightgrey;
}
.nav ul {
    list-style: none;
    background-color: #66ccff;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}
/* For slow fade on blue nav*/

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 1s background-color;
}
/* For slow fade on white text	
.nav a{
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.75s color;
}
*/

.nav a:hover {
    background-color: #3399ff;
    color: white;
}
.active a {
    background-color: lightgrey;
    color: white;
    cursor: default;
}
@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
    h3,
    p,
    a,
    h1 {
        text-align: center;
        transition: 0.5s color;
    }
    .fixed:hover {
        color: white;
    }
    .fixed {
        color: black;
        transition: 0.5s color;
    }
    .fixed:visited {
        color:white;
    }
    .rainbow {
        text-align: center;
    }
    .rainbow:hover {
        -webkit-animation: rainbow 2s infinite;
        -ms-animation: rainbow 2s infinite;
        -o-animation: rainbow 2s infinite;
        animation: rainbow 2s infinite;
    }
    @-webkit-keyframes rainbow {
        0% {
            background: #ff0000;
        }
        10% {
            background: #ff8000;
        }
        20% {
            background: #ffff00;
        }
        30% {
            background: #80ff00;
        }
        40% {
            background: #00ff00;
        }
        50% {
            background: #00ff80;
        }
        60% {
            background: #00ffff;
        }
        70% {
            background: #0080ff;
        }
        80% {
            background: #0000ff;
        }
        90% {
            background: #8000ff;
        }
        100% {
            background: #ff0080;
        }
    }
    @-ms-keyframes rainbow {
        0% {
            background: #ff0000;
        }
        10% {
            background: #ff8000;
        }
        20% {
            background: #ffff00;
        }
        30% {
            background: #80ff00;
        }
        40% {
            background: #00ff00;
        }
        50% {
            background: #00ff80;
        }
        60% {
            background: #00ffff;
        }
        70% {
            background: #0080ff;
        }
        80% {
            background: #0000ff;
        }
        90% {
            background: #8000ff;
        }
        100% {
            background: #ff0080;
        }
    }
    @-o-keyframes rainbow {
        0% {
            background: #ff0000;
        }
        10% {
            background: #ff8000;
        }
        20% {
            background: #ffff00;
        }
        30% {
            background: #80ff00;
        }
        40% {
            background: #00ff00;
        }
        50% {
            background: #00ff80;
        }
        60% {
            background: #00ffff;
        }
        70% {
            background: #0080ff;
        }
        80% {
            background: #0000ff;
        }
        90% {
            background: #8000ff;
        }
        100% {
            background: #ff0080;
        }
    }
    @keyframes rainbow {
        0% {
            background: #ff0000;
        }
        10% {
            background: #ff8000;
        }
        20% {
            background: #ffff00;
        }
        30% {
            background: #80ff00;
        }
        40% {
            background: #00ff00;
        }
        50% {
            background: #00ff80;
        }
        60% {
            background: #00ffff;
        }
        70% {
            background: #0080ff;
        }
        80% {
            background: #0000ff;
        }
        90% {
            background: #8000ff;
        }
        100% {
            background: #ff0080;
        }
    }
    .back {
        margin-top: 50%;
    }
    .headertext {
        transition: 0.5s color;
    }
    .headerText:hover {
        color: white;
    }
    .display {
        font-weight:bold;
        text-align:center;
        list-style:none;
    }
