.Title {
  text-align: center;
  color: #e6b800;
  margin: 40px;
}

.Content {
  text-align: center;
  color: #e6b800;
}

html {
  background-color: black;
}

.Image {
  position: center;
}

nav #li {
  
}

nav #ul {
  
}

nav {
  position: fixed;
  padding: 10px;
  height: 50px;
  width: 100%;
  background-color: #e6b800;
}
